<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlishu.dao.BeamUpdateMapper">
    <resultMap id="BaseResultMap" type="com.youlishu.bean.BeamTransformInfo">
        <!--@mbg.generated-->
        <!--@Table wall_transform_info-->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="prj_name" jdbcType="VARCHAR" property="prjName" />
        <result column="prj_status" jdbcType="VARCHAR" property="prjStatus" />
        <result column="wall_out_png_url" jdbcType="VARCHAR" property="wallOutPngUrl" />
        <result column="beam_in_png_url" jdbcType="VARCHAR" property="beamInPngUrl" />
        <result column="beam_in_txt_url" jdbcType="VARCHAR" property="beamInTxtUrl" />
        <result column="beam_out_txt_url" jdbcType="VARCHAR" property="beamOutTxtUrl" />
        <result column="beam_out_png_url" jdbcType="VARCHAR" property="beamOutPngUrl" />
        <result column="beam_upload_time" jdbcType="TIMESTAMP" property="beamUploadTime" />
        <result column="wall_upload_time" jdbcType="TIMESTAMP" property="wallUploadTime" />
        <result column="transform_time" jdbcType="TIMESTAMP" property="transformTime" />
        <result column="txt_file_name" jdbcType="VARCHAR" property="txtFileName" />
        <result column="png_file_name" jdbcType="VARCHAR" property="pngFileName" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="beam_design_type" jdbcType="VARCHAR" property="beamDesignType" />
        <result column="beam_up" jdbcType="VARCHAR" property="beamUp" />
        <result column="beam_long" jdbcType="VARCHAR" property="beamLong" />
        <result column="beam_low" jdbcType="VARCHAR" property="beamLow" />

    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        prj_name,
        prj_status,
        wall_out_png_url,
        beam_in_png_url,
        beam_in_txt_url,
        beam_out_txt_url,
        beam_out_png_url,
        beam_upload_time,
        wall_upload_time,
        transform_time,
        txt_file_name,
        png_file_name,
        user_name,
        beam_design_type,
        beam_up,
        beam_long,
        beam_low
    </sql>
  <!--查看单个梁板数据列表-->
    <select id="findOneBeam"  resultMap="BaseResultMap">
        select id ,
        prj_name,
        prj_status,
        wall_out_png_url,
        beam_in_png_url,
        beam_in_txt_url,
        beam_out_txt_url,
        beam_out_png_url,
        beam_upload_time,
        wall_upload_time,
        transform_time,
        txt_file_name,
        png_file_name,
        user_name,
        beam_design_type,
        beam_up,
        beam_long,
        beam_low from beam_transform_info where id = #{id} and user_name = #{username}
    </select>

    <update id="updateBeam" >
        update beam_transform_info set
        prj_name = #{prjName},
        wall_out_png_url = #{wallOutPngUrl},
        beam_in_png_url = #{beamInPngUrl},
        beam_in_txt_url = #{beamInTxtUrl},
        beam_upload_time = #{beamUploadTime},
        wall_upload_time = #{wallUploadTime},
        txt_file_name = #{txtFileName},
        png_file_name = #{pngFileName},
        user_name = #{userName},
        beam_up = #{beamUp},
        beam_long = #{beamLong},
        beam_low = #{beamLow}
        where id = #{id}
    </update>


</mapper>