<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlishu.dao.LoginMapper">

    <select id="getToken" resultType="com.youlishu.bean.LoginToken">
        SELECT token,authority from UserInfo where username = #{username}
    </select>

    <select id="addUserInfo" resultType="com.youlishu.bean.UserInfoBean">
        replace INTO `lot_user` (user_name, created_at, positions, name, can_access, mobile, org, status)
    VALUES
	    (#{username,jdbcType=VARCHAR},#{created_at,jdbcType=VARCHAR},#{positions,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{can_access,jdbcType=VARCHAR},
	    #{mobile,jdbcType=VARCHAR},#{org,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})

    </select>

    <select id="selectUsername" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `lot_user` WHERE user_name = #{username}
    </select>
</mapper>