<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlishu.dao.WallTransformInfoMapper">
  <resultMap id="BaseResultMap" type="com.youlishu.bean.WallTransformInfo">
    <!--@mbg.generated-->
    <!--@Table wall_transform_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="in_txt_url" jdbcType="VARCHAR" property="inTxtUrl" />
    <result column="in_png_url" jdbcType="VARCHAR" property="inPngUrl" />
    <result column="out_txt_url" jdbcType="VARCHAR" property="outTxtUrl" />
    <result column="out_png_url" jdbcType="VARCHAR" property="outPngUrl" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="transform_time" jdbcType="TIMESTAMP" property="transformTime" />
    <result column="txt_file_name" jdbcType="VARCHAR" property="txtFileName" />
    <result column="png_file_name" jdbcType="VARCHAR" property="pngFileName" />
    <result column="prj_name" jdbcType="VARCHAR" property="prjName" />
    <result column="seismic" jdbcType="VARCHAR" property="seismic" />
    <result column="structure" jdbcType="VARCHAR" property="structure" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, in_txt_url, in_png_url, out_txt_url, out_png_url, upload_time, transform_time, 
    txt_file_name, png_file_name, prj_name,seismic,structure,scale
  </sql>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.youlishu.bean.WallTransformInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wall_transform_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="inTxtUrl != null">
        in_txt_url,
      </if>
      <if test="inPngUrl != null">
        in_png_url,
      </if>
      <if test="outTxtUrl != null">
        out_txt_url,
      </if>
      <if test="outPngUrl != null">
        out_png_url,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="transformTime != null">
        transform_time,
      </if>
      <if test="txtFileName != null">
        txt_file_name,
      </if>
      <if test="pngFileName != null">
        png_file_name,
      </if>
      <if test="prjName != null">
        prj_name,
      </if>
      <if test="seismic != null">
        seismic,
      </if>
      <if test="structure != null">
        structure,
      </if>
      <if test="scale != null">
        scale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="inTxtUrl != null">
        #{inTxtUrl,jdbcType=VARCHAR},
      </if>
      <if test="inPngUrl != null">
        #{inPngUrl,jdbcType=VARCHAR},
      </if>
      <if test="outTxtUrl != null">
        #{outTxtUrl,jdbcType=VARCHAR},
      </if>
      <if test="outPngUrl != null">
        #{outPngUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transformTime != null">
        #{transformTime,jdbcType=TIMESTAMP},
      </if>
      <if test="txtFileName != null">
        #{txtFileName,jdbcType=VARCHAR},
      </if>
      <if test="pngFileName != null">
        #{pngFileName,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null">
        #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="seismic != null">
        #{seismic,jdbcType=VARCHAR},
      </if>
      <if test="structure != null">
        #{structure,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateWall">
    update wall_transform_info set
        user_name = #{userName,jdbcType=VARCHAR},
        in_txt_url = #{inTxtUrl,jdbcType=VARCHAR},
        in_png_url = #{inPngUrl,jdbcType=VARCHAR},
        out_txt_url = #{outTxtUrl,jdbcType=VARCHAR},
        out_png_url = #{outPngUrl,jdbcType=VARCHAR},
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
        transform_time = #{transformTime,jdbcType=TIMESTAMP},
        txt_file_name = #{txtFileName,jdbcType=VARCHAR},
        png_file_name = #{pngFileName,jdbcType=VARCHAR},
        prj_name = #{prjName,jdbcType=VARCHAR},
        `scale` = #{scale,jdbcType=VARCHAR},
        structure = #{structure,jdbcType=VARCHAR},
        seismic = #{seismic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="update">
    update wall_transform_info
    set out_png_url = #{outPngUrl,jdbcType=VARCHAR},
        out_txt_url = #{outTxtUrl,jdbcType=VARCHAR},
        transform_time = #{transformTime,jdbcType=TIMESTAMP}
        where user_name = #{userName,jdbcType = VARCHAR} and id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findWallInfo" resultMap="BaseResultMap">
    SELECT id,user_name,in_txt_url,in_png_url,out_txt_url,out_png_url,upload_time,prj_name,txt_file_name,png_file_name,`scale`,seismic,structure
    FROM wall_transform_info
    WHERE user_name = #{userName}
    ORDER BY upload_time DESC
  </select>

  <select id="findOneWall" resultMap="BaseResultMap">
    SELECT id,user_name,in_txt_url,in_png_url,out_txt_url,out_png_url,upload_time,transform_time,prj_name,txt_file_name,png_file_name,scale,seismic,structure
    FROM wall_transform_info
    WHERE id = #{id}
  </select>

  <delete id="deleteWall" >
    delete from wall_transform_info  where id = #{id}
  </delete>

  <select id="getinfo" resultMap="BaseResultMap">
    SELECT txt_file_name,png_file_name from wall_transform_info where user_name = #{username} and id = #{id}
  </select>

</mapper>